.col-centered{
    float: none;
    margin: 0 auto;
}
.debai{
    color: #00918d;
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.timer{
    color: #000000;
    font-size: 18px;
    margin-top: 2px;
}

.timecountdown{
    background: url(../images/gd_36.png) no-repeat scroll left top transparent;
    color: #00918d;
    float: left;
    font-size: 18px;
    margin-top: 2px;
    padding-left: 30px;
}

/*------------------------------------------------------------------
[Color codes]
Buttons, etc: #726FB9 (blue)
hover color:  #fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Open Sans:100,200,300,400,500,700,800);
/*- General -*/
body {
  font-family: "Open Sans", Sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.04em;
  font-weight: 700;
  font-style: normal;
  font-family: "Open Sans", Sans-serif;
  color: #4A4A4A;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
a {
    color: #4A4A4A; 
}
a:hover, a:focus, a:active, a.active {
  color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  text-decoration: none;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
section {
  padding-bottom: 60px;
}
section:last-child {
  padding-bottom: 0px;
}
/*- Reset bootstrap -*/
@media (min-width: 1200px)
.container {
  width: 1260px;
}
.row-gutter {
  margin-left: -20px;
  margin-right: -20px;
}
.col-gutter {
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-gutter {
  padding-left: 15px;
}
.navbar .navbar-nav > li > a {
  color:#fff;
}
header {
/*  margin: 130px 0 65px;*/
  text-align: center;
}
/*- BX Slaider reset -*/
.bxslider {
  margin: 0;
  padding: 0;
}
.bx-wrapper .bx-viewport {
  left: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.bx-wrapper .bx-prev {
  border: 1px solid #000;
  background-image: none !important;
  background-color: #3498DB;
}
.bx-wrapper .bx-next {
  border: 1px solid #000;
  background-image: none !important;
  background-color: #3498DB;
}
.bx-wrapper .bx-prev:hover {
  background-color: rgba(255,255,255,.1);
}
.bx-wrapper .bx-next:hover {
  background-color: rgba(255,255,255,.1);
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 50px;
  height: 50px;
  text-indent: inherit;
  z-index: 99;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border: none;
}
.main-slider img {
  position: relative;
}
.main-slider h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #3498DB;
  color: #fff;
  padding: 25px 40px;
  font-size: 32px;
}
.main-slider h2 a {
  color: #fff;
}
.main-slider h2 a:hover {
  color: #dfdfdf;
}
/*- blog post -*/
.blog-post {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #CECECE;
}
.blog-post:last-child {
  border-bottom: none;
}
.blog-post .blog-post-body {
  text-align: center;
  padding: 20px 0;
}
.blog-post .blog-post-body h2 {
  margin: 0;
  padding: 15px 0px 20px;
  font-size: 41px;
  line-height: 49px;
}
.blog-post .blog-post-body p {
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #000;
}
.blog-post .blog-post-body a {
  color: #4A4A4A;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.blog-post .blog-post-body a:hover  {
  color: #dddddd;
}
.blog-post .post-meta {
  margin: 5px 0 20px;
  font-weight: 400;
  font-size: 16px;
  color: #B1B1B1;
  font-family: "Lora";
  font-style: italic;
}
.blog-post .post-meta a {
  color: #B1B1B1;
}
.blog-post .post-meta a:hover {
  color: #fed136;
}
.blog-post .post-meta span {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-post .post-meta span:first-child {
  padding-left: 0;
  padding-right: 15px;
}
.blog-post .post-meta i {
  padding-right: 5px;
  font-size: 12px;
}
.blog-post .read-more a {
  display: inline-block;
  padding: 12px 40px;
  margin: 30px 0 0px;
  border: 1px solid;
  border-radius: 25px;
  border-color: #E6E6E6;
  background-color: #F3F3F3;
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.7px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.blog-post .read-more a:hover {
  background-color: #3498DB;
  border-color: #3498DB;
  color: #fff;
}
.blog-post .blog-post-text {
  text-align: left;
}
.blog-post .blog-post-text p {
  text-align: justify;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  letter-spacing: 0.1px;
  margin-bottom: 30px;
}
/*- Sidebar -*/
.sidebar-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.8px;
  font-size: 14px;
  padding: 15px 0;
  margin: -10px 0 25px;
}
.sidebar-widget {
  margin-bottom: 40px;  
}
.sidebar-widget li {
  font-size: 17px;
  margin-bottom: 10px;
}
.widget-socials {
  text-align: center;
}
.widget-socials a {
  margin: 3px 8px;
  padding: 5px;
  font-size: 17px;
  color: #3C3C3C;
}
.widget-about img {
  width: 100%;
}
.widget-about h4 {
  text-align: center;
  margin: 20px 0 5px;
}
.widget-about .author-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #B5B5B5;
  text-align: center;
}
.widget-about p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.widget-post {
  display: table;
  margin: 0 0 20px 0;
  border-bottom: 1px solid;
  border-color: #E4E4E4;
  padding-bottom: 20px;
  width: 100%;
}
.widget-post:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin: 0px;
}
.widget-post .post-image {
  float: left;
  width: 90px;
  vertical-align: middle;
  position: relative;
  margin-right: 20px;
}
.widget-review .post-image {
  width: 70px;
  margin-right: 15px;
}
.widget-post .post-body {
  overflow: hidden;
}
.widget-post h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.widget-post h2 a {
  color: #4A4A4A;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.widget-post h2 a:hover {
  color: #969696;
}
.widget-post .post-meta {
  margin-top: 5px;
  font-weight: 400;
  font-size: 11px;
  color: #B1B1B1;
  font-family: "Lora";
  font-style: italic;
}
.widget-post .post-meta span {
  margin-right: 8px;
}
.widget-post .post-meta span a {
  color: #B1B1B1;
}
.section-title {
  margin: 0 0 45px 0;
  border-top: 1px solid #505050;
  font-size: 28px;
  padding-top: 10px;
  font-weight: 300;
  color: #272727;
}
.section-title span {
}
/*- Footer -*/
footer {
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #717171;
  text-align: center;
  border-top: 1px solid #CECECE;
}
footer .footer-socials {
  margin: 60px 0 20px;
}
footer .footer-socials a {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  /* padding: 20px; */
  font-size: 20px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer .footer-socials a:hover {
  background-color: rgba(255,255,255,.1);
}
footer .footer-bottom {
  padding: 10px 0 40px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-inverse{
  background-color: #ec5f5f;
  border-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-toggle {
    border-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(255,255,255,.1);
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

body{ background: #fafafa;}
  .widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}
.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
}
.status-upload form {
  float: left;
  width: 100%;
}
.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #F2F2F2;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}
.status-upload ul > li {
  float: left;  
}
.status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}
.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}
.status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}
.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}
.status-upload form button > i {
  margin-right: 7px;
}


.btnn{
  padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3498DB;
    color: #fff;
    border:none;
}

.btnn:hover{
  background-color: rgba(255,255,255,.1);
}

.db{
  font-size: 25px!important; 
  text-align: center;
}